---
import '../styles/global.css';
import {Font} from 'astro:assets';

export interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
---

<Font cssVariable="--font-inter" preload />
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="generator" content={Astro.generator}/>
<title>{title}</title>
<meta name="title" content={title}/>
<meta name="description" content={description}/>
<link rel="sitemap" href="/sitemap-index.xml">
<link rel="stylesheet" href="/prism-one-dark.css">
