---
import MainLayout from "./MainLayout.astro";
import {type Blog} from "../content/config";
interface Props {
    content: Blog
}

const {content} = Astro.props;
---

<MainLayout title={content.title}>
    <main>
        <article>
            {content.heroImage && (
                    <img
                            width={720}
                            height={360}
                            src={content.heroImage}
                            alt=""
                    />
            )}
            <h1 class="text-4xl my-1">{content.title}</h1>
            {content.pubDate &&
                    <time>{content.pubDate.toLocaleDateString()}</time>}
            <hr class="border-t-2"/>
            <slot/>
        </article>
    </main>
</MainLayout>

<style is:global>
    @reference "../styles/global.css";
    .anchor svg {
        @apply inline ml-2 content-center mb-1;
    }
</style>
